<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Machine learning Demo</title>
    <link rel="shortcut icon" href="https://static.thenounproject.com/png/2010152-200.png" type="image/x-icon">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inabout_page.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<style>

  .appli{
    background-color: white;
    padding: 30px;
    padding-left: 150px;
    padding-top: 150px;
    padding-right: 150px;
   
  }
  footer{
    border-bottom: 50px
  }
  button{
   color: white;
    
  }
</style>
<body>
  <div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cancer">Cancer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diabetes">Diabetes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/heart">Heart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/liver">Liver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Malaria">Malaria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Pneumonia">Pneumonia</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<div class="appli">
  <h3>Application </h3>
  <ul>
    <li>To help out the poor and helpless people with the normal medical checkup</li>
    <li>To help people avoid paying huge  amount to the doctors unnecessarily</li>
    <li>To extend the role of the technology in the medical field</li>
  </ul>
  <h2>Developers:</h2>
  <p>LOHIT S</p>
  <p>KALAISELVAN V</p>
  <P>NANDAKISHORE T J</P>
  <P>KAVIN S</P>
</div>
<br><br><br><br><br><br>

<footer class="bg-dark ">
  <center><button type="button" class="btn bg-dark"><a href="mailto:lohit.cs19@bitsathy.ac.in" class="text-white">Contact</a></button></center>


  <br><br>
</footer>



	
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
