<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Diabetes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	  <title>Diabetes Calculator</title>
    <link rel="shortcut icon" href="https://static.thenounproject.com/png/2010152-200.png" type="image/x-icon">
    
</head>
<style>

  .appli{
    background-color: white;
    padding: 30px;
    padding-left: 150px;
    padding-top: 15px;
    padding-right: 150px;
   
  }
  footer{
    border-bottom: 50px
  }
  button{
   color: white;
    
  }
</style>
<body>
  <div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cancer">Cancer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/diabetes">Diabetes<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/heart">Heart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/liver">Liver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Malaria">Malaria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Pneumonia">Pneumonia</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="appli">
    <center><h3>Cancer</h3>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-CUBSfXteBIPAZeAJWDXokqXRWZHqMuRLsQ&usqp=CAU" height="300px" width="500px" alt="" srcset=""></center><br>
    <h4>Overview:</h4>
    
    <p>Diabetes mellitus (DM), commonly known as diabetes, is a group of metabolic disorders characterized 
      by a high blood sugar level over a prolonged period of time. Symptoms often include frequent urination,
       increased thirst and increased appetite. If left untreated, diabetes can cause many complications. Acute complications
        can include diabetic ketoacidosis, hyperosmolar hyperglycemic state, or death.
        Serious long-term complications include cardiovascular disease, stroke, chronic 
        kidney disease, foot ulcers, damage to the nerves, damage to the eyes and cognitive impairment.


      Diabetes is due to either the pancreas not producing enough insulin, or the cells of the body not responding properly
       to the insulin produced.The classic symptoms of untreated diabetes are unintended weight loss, polyuria (increased urination), 
       polydipsia (increased thirst), and polyphagia (increased hunger).Symptoms may develop rapidly (weeks or months) in 
       type 1 diabetes, while they usually develop much more slowly and may be subtle or absent in type 2 diabetes.

       Several other signs and symptoms can mark the onset of diabetes although they are not specific to the disease.
        In addition to the known ones above, they include blurred vision, headache, fatigue, slow healing of cuts, and itchy skin.
         Prolonged high blood glucose can cause glucose absorption in the lens of the eye, which leads to changes in its shape, resulting 
         in vision changes. Long-term vision loss can also be caused by diabetic retinopathy. A number of skin rashes that can occur in diabetes
          are collectively known as diabetic dermadromes.</p><br>
    <h4>Causes</h4>
    <p>Diabetes mellitus is classified into six categories: type 1 diabetes, type 2 diabetes, hybrid forms of diabetes,
       hyperglycemia first detected during pregnancy, "unclassified diabetes", and "other specific types".
       The "hybrid forms of diabetes" contains slowly evolving, immune-mediated diabetes of adults and ketosis-prone type 2 diabetes. 
       The "hyperglycemia first detected during pregnancy" contains gestational diabetes mellitus and diabetes mellitus in pregnancy 
       . The "other specific types" are a collection of a few dozen individual 
       causes. Diabetes is a more variable disease than once thought and people may have combinations of forms.
       The term "diabetes", without qualification, refers to diabetes mellitus.Type 1 diabetes is characterized by loss of the insulin-producing 
       beta cells of the pancreatic islets, leading to insulin deficiency. This type can be further classified as immune-mediated or
        idiopathic. The majority of type 1 diabetes is of an immune-mediated nature, in which a T cell-mediated autoimmune attack leads
         to the loss of beta cells and thus insulin. It causes approximately 10% of diabetes mellitus cases in North America and Europe.
          Most affected people are otherwise healthy and of a healthy weight when onset occurs. Sensitivity and responsiveness to insulin
           are usually normal, especially in the early stages. Although it has been called "juvenile diabetes" due to the frequent onset 
           in children, the majority of individuals living with type 1 diabetes are now adults

       "Brittle" diabetes, also known as unstable diabetes or labile diabetes, is a term that 
       was traditionally used to describe the dramatic and recurrent swings in glucose levels, 
       often occurring for no apparent reason in insulin-dependent diabetes. This term, however, has 
       no biologic basis and should not be used. Still, type 1 diabetes can be accompanied by irregular and
        unpredictable high blood sugar levels, and the potential for diabetic ketoacidosis or serious low blood sugar levels. 
        Other complications include an impaired counterregulatory response to low blood sugar, infection, gastroparesis
         (which leads to erratic absorption of dietary carbohydrates), and endocrinopathies (e.g., Addison's disease). These phenomena 
         are believed to occur no more frequently than in 1% to 2% of persons with type 1 diabetes.</p>

  </div><br><br>
 

  <div class="container" >
    <center><h4>Calculate Diabetes with following parameters</h4></center>

    <form class="col s6" action="/result" method="POST">
      <div class="row">
        <div class="col input-field">
          <label for="Pregnancies">Pregnancies : </label>
          <input type="number" id="Pregnancies" name="Pregnancies">
        </div>
        <div class="col input-field">
          <div class="input-field">
            <label for="Glucose">Glucose : </label>
            <input type="number" id="Glucose" name="Glucose">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col input-field">
          <label for="BloodPressure">BloodPressure : </label>
          <input type="number" id="BloodPressure" name="BloodPressure">
        </div>
        <div class="col input-field">
          <div class="input-field">
            <label for="SkinThickness">SkinThickness : </label>
            <input type="number" id="SkinThickness" name="SkinThickness">

          </div>
      </div>
      </div>
      <div class="row">
        <div class="col input-field">
          <label for="Insulin">Insulin : </label>
          <input type="number" id="Insulin" name="Insulin">
        </div>
        <div class="col input-field">
          <div class="input-field">
            <label for="BMI">BMI : </label>
            <input type="number" id="BMI" name="BMI">
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col input-field">
          <label for="DiabetesPedigreeFunction">DiabetesPedigreeFunction : </label>
          <input type="number" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction">
        </div>
        <div class="col input-field">
          <div class="input-field">
            <label for="Age">Age : </label>
            <input type="number" id="Age" name="Age">
          </div>
      </div>
      </div>
      
      <input type="submit" value="Submit" class="btn btn-dark">
      <br><br><br>
    </form>

  </div>
  <footer class="bg-dark ">
    <center><button type="button" class="btn bg-dark"><a href="mailto:lohit.cs19@bitsathy.ac.in" class="text-white">Contact</a></button></center>
  
  
    <br><br>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
